.articles {
    width: 90%;
    margin-left: 1%;
    background-color: #fdfbfa;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 5px;
}

.articles:hover {
    background-color: #f4eeec;
}

.test {
    display: flex;
    justify-content: space-between;

}